// .select {
//     border: none;
//     background: var(--gray);
//     box-sizing: border-box;
//     padding: 16px 34px 16px 16px;
//     position: static;
//     width: 100%;
// }
// .ant-select-selector {
//     background-color: transparent;
//     border: none;
// }
.label {
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    margin: 8px 0px;
    font-weight: 400;
}
