.stepContainer {
    width: 100%;
    margin-bottom: 2rem;
    .stepper {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;
        .step {
            background: #57d4d4;
            border-radius: 4px;
            width: 100%;
            list-style: none;
            height: 5px;
        }
        .inactive {
            background: #ddf6f6;
            border-radius: 4px;
            width: 100%;
            list-style: none;
            height: 5px;
        }
    }
}

.sucessContainer {
    margin-top: 6rem;
    .header {
        margin-bottom: 1rem;
        h1 {
            font-weight: 700;
            font-size: 26px;
            color: var(--primary);
            margin: 0;
            padding: 0;
        }
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        color: var(--black);
        .span {
            color: var(--primary);
            font-weight: 500;
        }
    }
}
