.header {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: var(--primary);
        margin: 0;
        padding: 0;
        text-align: c;
    }
}

.slider_content {
    height: 100%;
    width: 100%;
}
