.--primary,
.--filter,
.--blue,
.--light_blue {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;

    &:hover {
        transform: scale(1.01);
        transition: ease 0.5s;
        box-shadow: 2px 2px 1px 1px var(--primary);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }
}

.--blue {
    background-color: var(--overlay-blue);
}

.--light_blue {
    background-color: var(--light-blue);
    width: fit-content;
}

.--inactive,
button:disabled {
    background-color: var(--light-gray);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
}

.--filter {
    background: #ecf7ff;
    border-radius: 4px;
    color: var(--black);
    width: fit-content;
}
