::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
    display: block;
}

.side_menu,
.inactive {
    position: fixed;
    background: var(--gradient);
    width: 260px;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    transition: width 0.2s ease-in;
    @media screen and (max-width: 768px) {
        width: -webkit-fill-available;
        height: 100%;
        padding: 0;
    }
    .top_section {
        margin: 30px 20px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            span {
                color: var(--white);
                font-weight: 600;
                font-size: 24px;
            }
        }
        .close {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }

    .main_menu {
        padding: 10px 20px 30px 20px;
        ul {
            .activeLink {
                background: #57d4d4;
                border-radius: 4px;
            }
            .menu_item,
            .activeLink {
                list-style: none;
                margin: 10px 0;
                position: relative;
                height: 42px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 0 10px;
                display: flex;
                align-items: center;
                color: var(--white);
                text-decoration: none;

                .menu_icon {
                    margin-top: 0.2rem;
                    margin-right: 10px;
                    font-size: 18px;
                    text-align: center;
                }

                .flex {
                    display: flex;
                    align-items: center;
                    .title {
                        color: var(--white);
                        margin-bottom: 0;
                    }
                    .dropdown {
                        margin-left: 1rem;
                        height: 14.3px;
                    }
                }
            }
            .activeSubMenu {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                border-left: 1px solid #666;
                box-sizing: border-box;
                padding-left: 30px;
                list-style: none;
                cursor: pointer;

                a {
                    font-weight: 500;
                    text-decoration: none;
                    border-radius: 5px;
                    color: var(--white);
                    margin: 0.4rem 0;
                    cursor: pointer;
                }
            }
            .sub_menu {
                display: none;
                margin-left: 20px;
                border-left: 1px solid #666;
                box-sizing: border-box;
                padding-left: 30px;
                list-style: none;
                overflow: hidden;
                transition: max-height 0.2s ease-in;

                .active_Link {
                    background: #57d4d4;
                    border-radius: 4px;
                    padding: 5px 10px;
                    color: var(--white);
                    a {
                        display: block;
                        font-weight: 500;
                        text-decoration: none;
                        border-radius: 5px;
                        color: var(--white);
                    }
                }
                .sub_menu_item {
                    display: flex;
                    margin: 5px 0;
                    font-size: 15px;
                    text-decoration: none;
                    color: #333;
                    box-sizing: border-box;
                    padding: 5px;
                    a {
                        display: block;
                        font-weight: 500;
                        text-decoration: none;
                        color: var(--white);
                    }
                }
            }
        }
    }
    .bottom {
        position: fixed;
        width: inherit;
        bottom: 0;
        display: flex;
        // align-items: center;
        color: var(--white);
        cursor: pointer;
        background-color: var(--deep-blue);
        gap: 0.5rem;
        padding: 1rem 2rem;
        @media screen and (max-width: 320px) {
            left: 0;
        }
        p {
            margin: 0;
        }
    }
}

.inactive {
    width: 80px;
    .top_section {
        .logo {
            span {
                display: none;
            }
        }
    }
    .main_menu {
        ul {
            .menu_item {
                .links,
                .activeLink {
                    .menu_icon {
                        // display: block;
                        width: 40px;
                        opacity: 1;
                    }

                    .title {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                    }
                }
                .sub_menu {
                    .sub_menu_item {
                        color: #333;
                        margin-left: 20px;
                        border-left: 1px solid #666;
                        box-sizing: border-box;
                        padding-left: 30px;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-in;
                    }
                }
            }
        }
    }
    .bottom {
        p {
            display: none;
        }
    }
}
