.container {
    margin-top: 3rem;
}

.forgotPassword {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: var(--primary);
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.signUp {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--light-gray);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    a {
        color: var(--primary);
        font-weight: 600;
    }
}

.buttonContainer {
    margin-top: 2rem;
}
