.select_container {
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .select_wrapper {
        display: flex;
        align-items: center;

        .select {
            padding: 0 36px 0 12px;
            height: 43px;
            width: 100%;
            cursor: pointer;
            color: var(--black);
            background: var(--gray);
            border-radius: 4px;
            font-weight: 500;
            border: none;
            font-size: 14px;
            line-height: 18px;
            -webkit-appearance: none;
            appearance: none;
            &:focus-visible {
                border: 1px solid var(--primary);
                outline: 1px solid var(--primary);
                background-color: var(--white);
                border: none;
            }
        }
        .select__dropdown {
            position: relative;
            right: 30px;
        }
    }
}

.label {
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    margin: 8px 0px;
    font-weight: 400;
}
