.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        align-items: center;
        padding: 20px 10px;
    }

    .right {
        padding: 2.5rem 4rem;
        background-image: var(--gradient);
        height: 100vh;

        svg {
            @media screen and (min-width: 2560px) {
                margin-left: 4rem;
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
            height: auto;
            padding: 2.5rem 1rem;
        }
        .bottomImage {
            margin-top: -2rem;
            text-align: center;
            svg {
                width: 80%;
                margin: 0 auto;
            }

            @media screen and (min-width: 2560px) {
                margin-top: 3rem;
                svg {
                    width: 100%;
                }
            }
            @media screen and (max-width: 768px) {
                margin-top: 3rem;
                img {
                    width: 100%;
                }
            }
        }
        .subText {
            margin: -2rem auto 1rem auto;
            text-align: center;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            border-radius: 4px;
            padding: 1rem;
            width: fit-content;
            @media screen and (min-width: 2560px) {
                margin: 2rem auto 1rem auto;
            }
            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: var(--white);
                margin: 0;
            }
        }
    }
    .left {
        background-color: var(--white);
        padding: 2rem 4rem;
        height: 620px;
        overflow-y: scroll;
        @media screen and (min-width: 2560px) {
            height: auto;
        }
        .leftContainer {
            width: 85%;
            margin: 3rem auto 0 auto;
            padding: 1rem;
            @media screen and (max-width: 768px) {
                // padding: 0;
                margin: 0;
                width: 100%;
            }
            @media screen and (min-width: 2560px) {
                width: 60%;
            }
            .mobileLogo {
                display: none;
                @media screen and (max-width: 768px) {
                    display: flex;
                    align-items: center;
                    color: var(--primary);
                    font-weight: 700;
                    gap: 0.5rem;
                    margin-bottom: 1rem;
                    justify-content: center;
                    font-size: 25px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            margin-top: 0;
            padding: 0;
        }

        .left_subText {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -3rem;
            @media screen and (max-width: 768px) {
                margin-top: -2rem;
            }
            @media screen and (min-width: 2560px) {
                width: 70%;
                margin: -2.5rem auto 0 auto;
            }
            p {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: var(--white);
                margin: 0;
                background-color: var(--primary);
                padding: 0.5rem;
                box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 4px 8px rgba(48, 49, 51, 0.1);
                border-radius: 68px;
            }
        }
    }
}
