@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
    --primary: #213f7d;
    --gradient: linear-gradient(360deg, #023784 18.02%, #36d1dc 125.11%);
    --dashboardBg: #e5e5e5;
    --overlay-blue: #57d4d4;
    --secondary: #fff8eb;
    --white: #fff;
    --purple: #8236cc;
    --light-purple: #9f65d8;
    --yellow: #ffbb38;
    --light-yellow: #ffeac2;
    --black: #141414;
    --deepGreen: #112a2a;
    --light-blue: #2f59b2;
    --gray: #f5f5f5;
    --light-gray: #bdbdbd;
    --dark-gray: #757575;
    --red: #df1642;
    --light-red: #fce8ec;
    --body-text-color: rgba(51, 51, 51, 1);
    --selected-border: rgba(38, 130, 221, 1);
    --alt-font-body: "inter";
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.ant-tooltip-content .ant-tooltip-inner {
    border-radius: 4px;
}

.ant-select.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 43px;
    border-radius: 4px;
    &:focus-visible {
        border: 1px solid var(--primary);
        outline: 1px solid var(--primary);
        background-color: var(--white);
        border: none;
    }
}
.ant-select-selection-overflow .ant-select-selection-overflow-item .ant-select-selection-item {
    border-radius: 4rem;
}

.ant-steps-item-icon .ant-steps-icon {
    display: none;
}

.header {
    margin-bottom: 3.5rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
    }
    h1 {
        font-weight: 700;
        font-size: 26px;
        color: var(--primary);
        margin: 0;
        padding: 0;
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }
    p {
        font-weight: 400;
        font-size: 16px;
        color: var(--dark-gray);
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}

.error {
    color: var(--red);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.marginTop {
    margin-top: 2rem;
}

.signUp {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--light-gray);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    a {
        color: var(--primary);
        font-weight: 600;
    }
}
